<!-- Saaslink Social - Facebook -->

<?php if (Mage::getStoreConfig('soc_settings/facebook/fb_appid') != ''): ?>
<meta property="fb:app_id" content="<?php echo trim(Mage::getStoreConfig('soc_settings/facebook/fb_appid'));?>" />
<?php endif; ?>

<meta property="og:url" content="<?php echo $this->helper('core/url')->getCurrentUrl();?>" />
<meta property="og:type" content="product" />
<?php $product = Mage::registry('current_product');
	$helper = Mage::helper('soc');
	
	if ($product):
		$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product->getId());
		if(!$stock->getData('manage_stock')) $availability = $helper::SOC_FACEBOOK_STOCK_IN;
		elseif($stock->getData('is_in_stock')) $availability = $helper::SOC_FACEBOOK_STOCK_IN;
		else $availability = $helper::SOC_FACEBOOK_STOCK_OUT;
	
	?>
	<meta property="og:title" content="<?php echo trim($product->getName()); ?>"/>
	<meta property="og:image" content="<?php echo Mage::helper('catalog/image')->init($product, 'image');?>"/>
	<meta property="og:price:amount" content="<?php echo round($product->getPrice(), 2); ?>"/>
	<meta property="og:price:currency" content="<?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>"/>
	<meta property="og:availability" content="<?php echo $availability ?>"/>
	<meta property="og:description" content="<?php echo $product->getShortDescription() ?>"/>

<?php endif; ?>
