<!-- Saaslink Social - Twitter -->
<?php $product = Mage::registry('current_product');
	$helper = Mage::helper('soc');
	
if ($product):
	
	$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product->getId());
	if(!$stock->getData('manage_stock')) $availability = $helper::SOC_TWITTER_STOCK_IN;
	elseif($stock->getData('is_in_stock')) $availability = $helper::SOC_TWITTER_STOCK_IN;
	else $availability = $helper::SOC_TWITTER_STOCK_OUT;
	
	?>
<meta property="twitter:card" content="product" />
<meta property="twitter:title" content="<?php echo trim($product->getName()); ?>"/>
<meta property="twitter:description" content="<?php echo trim($product->getShortDescription()); ?>"/>

<meta property="twitter:image" content="<?php echo Mage::helper('catalog/image')->init($product, 'image');?>"/>
<meta property="twitter:image:width" content=""/>
<meta property="twitter:image:height" content=""/>

<meta property="twitter:label1" content="Price"/>
<meta property="twitter:data1" content="<?php echo round($product->getPrice(), 2); ?>"/>

<meta property="twitter:label2" content="Availability"/>
<meta property="twitter:data2" content="<?php echo $availability ?>" />


<?php endif; ?>

