<!-- Saaslink Social - Wanelo -->
<?php $product = Mage::registry('current_product');
	$helper = Mage::helper('soc');
	
if ($product):
	
	$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($product->getId());
	if(!$stock->getData('manage_stock')) $availability = $helper::SOC_WANELO_STOCK_IN;
	elseif($stock->getData('is_in_stock')) $availability = $helper::SOC_WANELO_STOCK_IN;
	else $availability = $helper::SOC_WANELO_STOCK_OUT;
	
	?>
<meta property="wanelo:product:url" content="<?php echo $this->helper('core/url')->getCurrentUrl();?>" />
<meta property="wanelo:product:name" content="<?php echo trim($product->getName()); ?>"/>
<meta property="wanelo:product:price" content="<?php echo round($product->getPrice(), 2); ?>"/>

<meta property="wanelo:product:price:currency" content="<?php echo Mage::app()->getStore()->getCurrentCurrencyCode(); ?>"/>
<meta property="wanelo:product:availability" content="<?php echo $availability ?>"/> 

<meta property="wanelo:store:url" content="<?php echo Mage::getUrl(); ?>"/>
<meta property="wanelo:store:name" content="<?php echo Mage::app()->getStore()->getName(); ?>"/>

<?php endif; ?>

